.mona-lisa-expandable-card-container-condensed{
  overflow: hidden;
  background-color: #ebebeb;
  padding: 1.3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mona-lisa-expandable-card-container-expanded{
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background-color: #ebebeb;
  padding: 0.85rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.app-store-expandable-card-container-condensed{
  background-color: #ebebeb;
  width: 100%;
}

.app-store-expandable-card-container-expanded{
  background-color: #ebebeb;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.15);
}

.app-store-expandable-card-background-image{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  padding: 1rem;
  background-image: url(https://cool-layout-animations.nyc3.cdn.digitaloceanspaces.com/app-store-background.png);
}

.app-row-list{
  animation: fade-in 0.5s ease-in-out;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
