.react-magic-motion-card-expanded {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: min(40rem, 95%);
  height: calc(100% - 10rem);
  margin: auto;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  transition: z-index 200ms;
}

.react-magic-motion-card-condensed {
  z-index: 0;
  transition: z-index 2s;
}

.react-magic-motion-placeholder-box {
  background: transparent !important;
}

.react-magic-motion-background-fade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
}
