.tabs-container{
  display: flex;
  gap: 0.5rem;
}

.tab{
  background-color: #ececec;
  border: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-2{
  background-color: transparent;
  border: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  position: relative;
  transition: color 500ms ease-in-out;
}

.underline{
  width: 100%;
  height: 0.15rem;
  background-color: black;
  position: absolute;
  ;
}
.underline-2{
  width: 100%;
  height: 100%;
  background-color: rgb(76, 156, 248);
  position: absolute;
  top: 0;
  left:0;
  padding: 0.5rem 0.75rem;
  z-index: 5;
  mix-blend-mode:color;

}