.underline {
  width: 100%;
  height: 0.15rem;
  background-color: black;
  position: absolute;
}

.tab-1 {
  background-color: #ececec;
  border: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-2 {
  background-color: transparent;
  border: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  position: relative;
  border-radius: 36px;
  transition: color 300ms 100ms;
  white-space: nowrap;
}

.highlight {
  width: 100%;
  height: 100%;
  background-color: rgb(120 179 247);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0.75rem;
  z-index: 5;
  mix-blend-mode: lighten;
}

.tabs-container {
  display: flex;
  gap: 1rem;
}

.vertical-tabs-container {
  display: flex;
  flex-direction: column;
  gap: 1;
}
