.cool-layout-animations-card-expanded{
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: min(40rem, 95%);
  height: calc(100% - 10rem);
  margin: auto;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
} 


.cool-layout-animations-placholder-box{
  background: transparent;
}