.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  overflow-y: hidden;
}

.todo-item {
  padding: 0.65rem;
  background-color: #efebeb;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.shuffle-button {
  border: 1.5px solid #6697f7;
  background-color: transparent;
  color: #6697f7;
  cursor: pointer;
  padding: 0.5rem 0.85rem;
  width: fit-content;
}

.add-button {
  border: 0;
  background-color: #6697f7;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.85rem;
  width: fit-content;
}

.add-button:active {
  background-color: #2c6dea;
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.submit-row {
  display: flex;
  align-items: center;
  gap: 0.45rem;
}

.add-input {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  height: 1.86rem;
  margin-block: auto;
  box-shadow: 0 0 0 2px #d7d7d7;
}

.add-input:focus-visible {
  box-shadow: 0 0 0 2px #6697f7;
}


.toggle-circle{
  height: 18px;
  width: 18px;
  border-radius: 999rem;
  background-color: #c7c7c7;
}

.toggle-button{
  background-color: rgba(0,0,0,.05);
  border: 0;
  cursor: pointer;
}
